/*
 * written by andrewt@cse.unsw.edu.au October 2017
 * as a starting point for COMP[29]041 assignment 2
 * https://cgi.cse.unsw.edu.au/~cs2041/assignments/UNSWtalk/
 *
 * Change (or replace) the CSS below to create you own look-and-feel
 *
 * You will probably want to add CSS to this file too
 */

body {
    background-color: #FEDCEF;
}

.unswtalk_heading {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.unswtalk_user_details {
    background-color: #ABCDEF;
    color: #204142;
    white-space: pre-line;
    border:thin solid #204142;
    border-radius: 1em;
    padding-left: 0.42em;
}

.unswtalk_post {
    background-color: #ABEFCD;
    color: #204142;
    white-space: pre-line;
    border:thin solid #204142;
    border-radius: 1em;
    padding-left: 0.42em;
}

.unswtalk_comment {
    background-color: #EFEFAB;
    white-space: inherit;
    border:thin solid #204142;
    border-radius: 1em;
    padding-left: 0.42em;
}

.unswtalk_reply {
    background-color: #EFCDCD;
    white-space: inherit;
    border:thin solid #204142;
    border-radius: 1em;
    padding-left: 0.42em;
}

.unswtalk_button {
    background-color: #FEDBCA;
    border:thin solid #904142;
    border-radius: 0.42em;
    color: #904142;
}

.unswtalk_profile_icon {
    width: 40px;
    height: 40px;
    margin: 0 4px 0 1px;
}

.unswtalk_profile_picture {
    width: 200px;
    height: 200px;
    margin: 0 4px 0 1px;
}

.unswtalk_timestamp {
    font-style: italic;
    font-size: small;
}
